@keyframes         rotating { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes         rotating-left { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.animate-rotate {
  animation:         rotating 2s linear infinite;
}

.animate-rotate-left {
  animation:         rotating-left 2s linear infinite;
}