/*
  Styles for the libs/effect.js library
*/
.topsail_effect {
  &.topsail_effect_background_flash {
    background-color: #c9d606 !important;
    &.topsail_effect_running {
      transition: background-color 400ms ease-out;
      background-color: initial !important;
    }
  }
}
