/*
  The base tosatify styles are already directly imported via CSS @import
*/
@import url("https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css");

.toastify {
  &.info {
    color: var(--info, black);
    background: var(--info-bg, rgb(182, 197, 255)); // just "background-color" doesn't work, since toastify sets the "background" style
  }

  &.warn {
    color: var(--warn, black);
    background: var(--warn-bg, rgb(255, 172, 95)); // just "background-color" doesn't work, since toastify sets the "background" style
  }

  &.error {
    color: var(--error, red);
    background: var(--error-bg, rgb(255, 182, 182)); // just "background-color" doesn't work, since toastify sets the "background" style
  }
}
