/*
 * If you want a static page menus, put something like this in your application's (s)css
 *    nav#page_menu {position: fixed}
 *    body {padding-top: 1.5em}
 * and ad class .horizontal to your nav.dropdown_menu, to avoid switching to vertical style
 */
 @use 'responsive';

$menu_link_min_width: var(--item-min-width, 12em);
$menu_item_padding:   var(--item-padding, 0.5em);

$menu_item_border_width: 1px;

@mixin ctrl_for_submenu(){
  &:before         {
    font-family:'Arial Unicode MS';
    content:'\25BA';
    padding-right: 0.7em;
    font-size:0.7em;
    line-height: 0.7em;
    padding-top: 0.2em;
  }
}

/* an LI containing horizontally layed out menu items; submenus fold out down */
@mixin horizontal_submenu(){
  > h2 { @include ctrl_for_submenu(); }
  &:hover > h2:before { content:'\25BC'; }
}

/* an LI containing vertically layed out menu items; submenus fold out to the right */
@mixin vertical_submenu(){
  > h2 {
    @include ctrl_for_submenu();
    &:before { float: right; }
  }
  > ul {
    margin-top: calc(-1em - 2 * ($menu_item_padding + $menu_item_border_width)); /* horizontally next to existing */
    left: 100%;
  }
}

/*
 * Behavior
 */
nav.dropdown_menu {
  z-index: 100;

  /* show hide */
  ul ul     { position: absolute; background-color: var(--menu-bg); z-index: 500; }
  ul ul, ul li:hover ul ul, ul ul li:hover ul ul          { display: none; }
  ul li:hover ul, ul ul li:hover ul, ul ul ul li:hover ul { display: block }

  /*
  *  Appearance
  *
  * hopefully some day we can use this for horizontal and vertical menus, with adjustments.
  * That's why the generic class .dropdown_menu
  */
  &.menu_links {
    --menu-bg: var(--accent-bg);
    --menu-text: var(--text); // the links will inherit a different color
    --menu-text-hover: var(--accent-text);
    --menu-bg-hover: var(--accent-hover);

    background-color: var(--menu-bg);
    //color: var(--menu-text);

    background-color: var(--menu-bg);

    /* Top Menu */
    top:0;
    left:0;
    padding: 0;
    line-height: 1;

    /* all levels */
    a, h2 {
      font-size: 1em;
      line-height: 1; /* Simple CSS changed that */
      font-weight: normal;
      border: none;
      text-decoration: none;
      margin: 0;
      padding: $menu_item_padding;
      color: var(--menu-text);
      .iconify { margin-right: 0.5em; }
    }
    li:hover {
      background-color: var(--menu-bg-hover);
      > h2, a:hover { color: var(--menu-text-hover); }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      a, h2 {
        display: block;
        cursor: pointer;
        border-radius: 0;
      }
    }

    li { min-width: $menu_link_min_width; }

    /* first level */
    & > a {
      display: inline-block;
      vertical-align: top;
      border-right: solid $menu_item_border_width var(--border);
    }
    & > ul {
      > li {
        border-right: $menu_item_border_width solid var(--border);
        @include horizontal_submenu();
      }
    }

    /* lower level */
    ul ul li {
      vertical-align: bottom;
      border: solid $menu_item_border_width var(--border);
      &:not(:last-child) {border-bottom: none;}
      @include vertical_submenu();
    }
  }
}

/*
*   Horizontal Layout
*/
@mixin horizontal() {
  width: 100%;
  min-width: inherit; // so that it gets the body's min-width even though #menu might be position fixed

  /* first level */
  & > ul {
    display: inline-block;
    > li { float: left; }
  }
}

nav.dropdown_menu.menu_links.horizontal{ @include horizontal(); }

@include responsive.above(responsive.$lg-width) {
  nav.dropdown_menu.menu_links:not(.vertical) {
    @include horizontal();
  }
}

/*
*   Vertical Layout
*/
@mixin vertical() {
  & > ul {
    display: block;
    > li { display: block; }
  }
  ul li { @include vertical_submenu() }
}

nav.dropdown_menu.menu_links.vertical{ @include vertical(); }
@include responsive.below(responsive.$lg-width) {
  nav.dropdown_menu.menu_links:not(.horizontal) {
    @include vertical();
  }
}
