:root {
  --alert: rgba(255, 0, 0, 0.589);
  --alert-bg: rgba(241, 219, 219, 0.747);
}

.primary {
  font-weight: bold;
}

.secondary {
  opacity: .7;
  filter:Alpha(Opacity=70); /* support: IE8 */
  font-weight: normal;
}

// making a.button.alert higher specificity to make it win
.alert, a.button.alert {
  color: var(--alert);
  background-color: var(--alert-bg);
}
