// Responsive Breakpoints. After some research taken from Bootstrap
$xs-width: 0px;     // portrait phone
$sm-width: 576px;   // landscape phone
$md-width: 768px;   // tablet
$lg-width: 992px;   // desktop
$xl-width: 1200px;  // large desktop
$xxl-width: 1400px; // extra large desktop

// Example:
//   @use "topsail_common/components/responsive";
//   @include responsive.above(responsive.$xl-width) {
//     stuff applicable to all resolutions incl. and above tablet width
//   }
@mixin above($min_width) {
  @media only screen and (min-width: $min_width) { @content; }
}

@mixin below($max_width) {
  @media only screen and (max-width: #{$max_width - 1px}) { @content; }
}

@mixin between($min_width, $max_width) {
  @media only screen and (min-width: $min_width) and (max-width: #{$max_width - 1px}) { @content; }
}

// Use:
//   @use "topsail_common/components/responsive";
//   @include responsive.extra-small {
//     all the stuff that should be only visible in phone resolution
//   }
@mixin extra-small {
  @include below($sm-width) { @content; }
}

@mixin small {
  @include between($sm-width, $md-width) { @content; }
}

@mixin medium {
  @include between($md-width, $lg-width) { @content; }
}

@mixin large {
  @include between($lg-width, $xl-width) { @content; }
}

@mixin extra-large {
  @include between($xl-width, $xxl-width) { @content; }
}

@mixin extra-extra-large {
  @include above($xxl-width) { @content; }
}
