/* Using simpledotcss as a base, but tweaking it */
@import url("https://cdn.jsdelivr.net/npm/simpledotcss@2.3.0/simple.min.css");

body { display: block; } // v2 went to a grid layout with 45em max width; kill that
textarea:not([cols]), select, input { width: initial; }
textarea { vertical-align: top; } // because it is not 100% wide anymore
label { display: inline; }
select { padding-right: 2em; } // for the drop-down carret
input[type=radio], input[type=checkbox] { vertical-align: text-top; }
