@import url("https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.default.min.css");

// Tweak default appearance. We used the bootstrap theme before, but that now relys on missing bootstrap variables.
// So we try to make the deafult theme work
div.ts-wrapper {
  // remove the goofy gradient
  &.single .ts-control {
    background-image: none;
  }
  // it's 1px too tall to play nicely with SimpleCSS

  &.plugin-dropdown_input:not(.has_items) div.ts-control { // added a DIV to .ts_control for higher specificity (wins against default)
    min-height: 35px;
    line-height: 17px;
  }
}

// for the Drag and Drop plugin
.ts-wrapper.plugin-dragula {
  //
  // Straight from Dragula CSS
  //
  .gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
  }
  .gu-hide {
    display: none !important;
  }
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }

  //
  // Tweaks
  //
  .gu-mirror {
    background-color: #efefef;
  }
  .ts-control > div[data-value], .gu-mirror {
    padding-left: 1px;
    &:before {
      content: '⣶';
      margin-right: 0.3em;
      position: relative;
      top: -1px;
    }
  }
}
