div.top_labeled {
  vertical-align: top;
  white-space: nowrap;
  display: inline-block;
  padding: 0.2em;

  > label, > div.field_with_errors {
    display: inline-block; /* so that the help text labels are still next to it. */
  }

  > label + .iconify.help_text,  > div.field_with_errors + .iconify.help_text {
    padding-left: 0.3em;
  }

  /* By default, make all direct children be 100% wide */
  > div.top_labeled_content > *:not(.field_with_errors),
  > div.top_labeled_content > div.field_with_errors > * {
    /* margin: 0; */
    width: 100%; /* of the wrapper */
    box-sizing: border-box;
    &.flatpickr-wrapper { width: initial; }
  }
}