.validation_errors {
  text-align: center;

  .alert-box{
    color: var(--alert);
    background-color: var(--alert-bg);
    display: inline-block;   // just a box instead of all across
    margin: 1em;
    padding: 0.5em;
    text-align: left;
  }
}

// Ruby assigns the DOM fragments and classes .field_with_errors
.field_with_errors {
  display: inline-block;
  max-width: 100%;
  > label { color: var(--alert); }
  > :not(label) {
    background-color: var(--alert-bg);
  }
  .select2-selection {
    background-color: var(--alert-bg);
    border-color: inherit; /* select2 sets it explicitly */
  }
}
